<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <h2 class="section-heading">We've got what you need!</h2> -->
                <hr class="light">
                <p class="text-faded">By developing new, complex representations of data, machine learning has led to powerful modelling approaches in many scientific disciplines. The introduction of these methods to materials science is still recent, and many pub-lished applications do not take full advantage of the strengths of machine learning techniques and therefore do not replicate the successes they have had in other fields. The opportunity, however, is enormous: being able to more accurately and more quickly predict the properties of materials would allow promising new catalysts, solar cells, or batteries to be designed computationally, reducing the time and expense of trial-and-error experimentation in the lab. To take advantage of this opportunity, this targeted Bootcamp will bring together early-career researchers to develop new machine-learning techniques and apply them to important problems in materials science and quantum simulation. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
