  <aside class="bg-dark" id="portfolio">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>PROJECTS</h2>
              <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
              <h3>Machine learning for better carbon dioxide hydrogenation catalysts</h3>
              <p>There is little question that the sustainable reductive transformation of CO2 is one of the most important scientific and technical challenges of the 21st century. Machine learning methods have proven successful in the prediction of a large number of material properties. However, there is still a number of challenges in computational material sciences and there is a need for novel strategies to overcome them. Catalytic CO2 hydrogenation is one of the most important prototype reactions in heterogeneous catalysis, and the current big challenge is the lack of low cost, highly selective, active and stable catalysts to synthesize valuable C2 chemicals.  This theme will assess the performance of existing methods for predicting the performance of carbon dioxide hydrogenation catalysts, and develop new ideas to accelerate the engineering and design of complex materials with improved functionalities.</p>
              <h5>Principal Investigators: Prof. Catherine Stampfl, Dr Lamiae Azizi</h5>
              <br>
              <h3>Machine learning force fields for better solar cells</h3>
              <p>Solar cells incorporating perovskite materials are the fastest advancing solar technology to date, with the potential to be rapidly manufactured via energy efficient printing processes. Scaling up their printing, however, requires detailed understanding of how thin films of solid perovskites form from soluble precursors, including the effect of parameters such as temperature, solvent and additives. This project will develop force fields that can be used to simulate the steps involved in the formation of metal halide perovskites from solution. Recently, machine-learning has been used to construct force fields for a range of applications in material sciences, but they usually require tuning by hand and cannot be deployed at scale. We will overcome these limitations to develop general-purpose ap-proaches for this important class of materials.
              </p>
              <h5>Principal Investigators: Dr Asaph-Widmer Cooper, Dr Lamiae Azizi</h5>
              <br>

              <h3>Machine learning for the quantum control of an experimental quantum simulator</h3>
              <p>
                Quantum computing is the latest frontier in materials science, promising simulations that are exponentially faster than possible on conventional computers. At USyd, we are developing a state of the art trapped ion quantum computer that will be able to simulate, with existing technology, the otherwise intractable quantum-mechanical equations that describe processes in chemistry and materials science. However, like all quantum computers, the performance of our device is adversely impacted by noise or fluctuations in its environment. This project will design control protocols to be optimised over the enormous space of experimentally controllable parameters to improve our computations and their resilience to noise. 
              </p>
              <h5>Principal Investigators: Dr Cornelius Hempel, Dr Lamiae Azizi, A/Prof Ivan Kassal</h5>
          </div>
      </div>
  </aside>
