
<!-- Only include this once in your webpage -->
<script type="text/javascript" src="https://app.99inbound.com/99inbound.js"></script>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">APPLY</h2>
                <hr class="primary">
                <img src="img/main_1.png" class="img-responsive" alt="", style="width: 100%; height: 100%">
                <br>
                <p>
                    We are looking for early career researchers, whether computer scientists, mathematicians, or physical scientists who are experts in machine learning and are interested in developing and applying machine learning techniques to one of the three projects above. We particularly encourage applications from final year PhD students and recent PhD graduates, from anywhere in the world.
                </p>
                <p>
                    We celebrate diversity and are committed to creating an inclusive environment for all our teammates. We especially encourage applications from women, Aboriginal people and Torres Strait Islanders, as well as members of ethnic or cultural minorities or other groups underrepresented in computational and physical sciences.
                </p>
                <br>
                <p>
                Participants will not enter into an employment relationship with the University of Sydney, but will have their expenses either covered upfront or reimbursed. Expenses eligible for reimbursement include airfare, visa costs, accommodation and childcare.
                </p>
                <br>
                <h4>Application deadline: <b>15 March 2020</b>.</h4><h4>Outcomes will be announced by <b>31 March</b>.</h4>
                <br>                  
                
                <div class="inbound-form-wrapper" id="form_2511" data-path="https://app.99inbound.com/i/793015de-125d-477b-ba2a-d10b37333324" data-token="lt0AS62N6KnFdu3a0FuXVwtt"></div>
                </div>
        </div>
    </div>
</section>
