<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Materials Machine Learning Bootcamp 2020
            </h1>
            <h3><b>Date: 15 July - 15 September</b></h3>
            <hr>
            <p style="color: #fefefe;">Join us for a fully funded eight-week bootcamp on developing and applying cutting-edge machine-learning tools to pressing problems in materials science and quantum simulation</p>            
            <a href="#call" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
