<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Young Researchers’ Bootcamp on Machine Learning for 
                Materials Science and Quantum Simulation
                </h1>
            <hr>
            <p style="color: #fefefe;">Join us for a fully funded eight-week bootcamp on developing and applying cutting-edge machine-learning tools to pressing problems in materials science and quantum simulation</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
