<section  id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ABOUT</h2>
                <hr class="primary">
                <img src="img/main_2.png" class="img-responsive" alt="", style="width: 100%; height: 100%">
                <br>
                <p>
                    We will fund up to three participants in each of the three themes, listed below, that sit at the intersection of materials simulation and machine learning. The Bootcamp will strengthen interdisciplinary collaboration via hands on projects that will define the benefits and limitations of machine learning, introduce exciting open problems to the broader community, and stimulate new approaches to solving challenging open problems.
                </p>
                <br>
                <p>
                    The Bootcamp will take place at the University of Sydney, with its uniquely relevant world-class research initiatives and institutes. The Bootcamp is organised by the <a href="https://sydney.edu.au/nano/grand-challenges/computational-materials-discovery.html">Computational Materials Design Grand Challenge</a> project of the <a href="https://sydney.edu.au/nano/">Sydney Nano Institute</a>, but will also draw on the expertise of researchers in the Faculty of Science, Centre for Translational Data Science (CTDS) and the Sydney Mathematical Research Institute (SMRI) . In addition, social activities are planned to help you make friends and take advantage of your stay in Australia and its beautiful environment.
                </p>
                <br>
                <img src="img/usyd.jpg" class="img-responsive" alt="", style="width: 100%; height: 100%">
                <br>
                <p>
                    Participants will spend 8 weeks as part of diverse, collaborative research teams, from the kick-off on <b>15 July until 15 September</b>. While we prefer participants to take part in the entire Bootcamp, we can accommodate some flexibility in start and end dates.
                </p>
                <br>

                <p>
                    Participants will not enter into an employment relationship with the University of Sydney, but will have their expenses either covered upfront or reimbursed. Expenses eligible for reimbursement include airfare and other transport, visa costs, accommodation, meals, and childcare.
                </p>
                <br>
                <br>
                <div class="col-lg-3 col-sm-12">
                    <img src="img/pics_people/1.jpg" class="img-responsive" alt="Avatar", style="border-radius: 50%;">
                    </div>
                    <div class="col-lg-3 col-sm-12">
                    <img src="img/pics_people/2.jpeg" class="img-responsive" alt="Avatar", style="border-radius: 50%;">
                    </div>
                    <div class="col-lg-3 col-sm-12">
                    <img src="img/pics_people/3.jpg" class="img-responsive" alt="Avatar", style="border-radius: 50%;">
                    </div>
                    <div class="col-lg-3 col-sm-12">
                    <img src="img/pics_people/4.jpg" class="img-responsive" alt="Avatar", style="border-radius: 50%;">
                </div>
                <br>
                <br>
                <h4 style="padding-top: 25rem;">
                Please direct any inquiries to <a href="lamiae.azizi@sydney.edu.au">Dr Lamiae Azizi</a> and <a href="Ivan.Kassal@sydney.edu.au">Prof Ivan Kassal</a>.
                </h4>

                <br>
                
                </div>
        </div>
    </div>
</section>

